{% extends 'layout.html' %}

{% block head %}
<title>Select Classes</title>
{% endblock %}

{% block header %}
<nav class="navbar navbar-default">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Spellbook Generator</a>
   </div>
   <ul class="nav navbar-nav">
     <li><a href="/">Home</a></li>
     <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Example Spellbooks
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/processForm?classList=Wizard&lvl=1&mod=3&otherbooks=1">Wizard 1</a></li>
         <li><a href="/processForm?classList=Sorcerer&lvl=5&mod=4&otherbooks=1">Sorcerer 5</a></li>
         <li><a href="/processForm?classList=Bard&lvl=20&mod=5&otherbooks=1">Bard 20</a></li>
       </ul>
     </li>
     <li class="active"><a href="#">Generator</a></li>
     <li><a href="/diceRoller">Dice Roller</a></li>
   </ul>
 </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!--<h2>Multiclass coming Soon&trade;</h2>-->
  <h2>Enter your character below</h2>
  <div class="row">
    <div class="col-sm-6">
      <form action="/processForm">
        <label for="classes">Class</label>
        <input list="classes" name="classList">
        <datalist id='classes'>
          {% for class in dropList %}
          <option value={{class}}>{{class}}</option>
          {% endfor %}
        </datalist>
        <label for="lvl">Level</label>
        <select name="lvl">
          {% for num in lvls %}
          <option value={{num}}>{{num}}</option>
          {% endfor %}
        </select> <br>

        <label for="mod">Spellcasting modifier</label>
        <select name="mod">
          {% for num in mods %}
          <option value={{num}}>{{num}}</option>
          {% endfor %}
        </select> <br>

        <label>Use other books? <input type="checkbox" name='otherbooks' value="1"></label> <br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="col-sm-6">
      <img src="{{url_for ('static', filename='img/d20.png')}}" alt="Roll your ability score with this"
      style="width:50%;height:auto;"/>
    </div>

  </div>


</div>

{% endblock %}
