{% extends 'layout.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block header %}
<nav class="navbar navbar-default">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Spellbook Generator</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Home</a></li>
     <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Example Spellbooks
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">Wizard 1</a></li>
         <li><a href="#">Sorcerer 5</a></li>
         <li><a href="#">Bard 20</a></li>
       </ul>
     </li>
     <li><a href="/goToForm">Generator</a></li>
     <li><a href="#">Dice Roller</a></li>
   </ul>
 </div>
</nav>
{% endblock %}

{% block content %}
<p>Hello World</p>
<p>Filler Text</p>
{% endblock %}
